<html>
  <head>
    <title>Prisma</title>
    <link href="./reset.css" media="screen" rel="stylesheet" type="text/css">
    <link href="./style.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="rainbow">
      <div class="rainbow-color red"></div>
      <div class="rainbow-color orange"></div>
      <div class="rainbow-color yellow"></div>
      <div class="rainbow-color green"></div>
      <div class="rainbow-color blue"></div>
      <div class="rainbow-color indigo"></div>
      <div class="rainbow-color violet"></div>
    </div>

    <div class="container container_2">
      <div class="grid_1">
        Group 1
      </div>
      <div class="grid_1">
        Group 2
      </div>
      <div class="clear">&nbsp;</div>
      <div class="grid_1">
        Group 3
      </div>
      <div class="grid_1">
        Group 4
      </div>
      <div class="clear">&nbsp;</div>
    </div>
  </body>
</html>

